<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="../public/css/reset.css" rel="stylesheet">
        <link href="../public/css/style.css" rel="stylesheet">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}


    </head>

    <body>

    <div class="wrapper">

    <div class="nav">
        <nav class="navbar">

            <ul class="navbar-ul">

                <li class="navbar-li-home">
                    <a class="navbar-link" href="{{path('home')}}"><img class="picto-home" src="../public/assets/home.png" alt="home-picto"></a>
                </li>
                <li class="navbar-li">
                    <a class="navbar-link" href="{{path('bio')}}">About</a>
                </li>
                <li class="navbar-li">
                    <a class="navbar-link" href="{{path('realisations')}}">Projects</a>
                </li>
                <li class="navbar-li">
                    <a class="navbar-link" href="{{path('contact')}}">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

        {% block body %}{% endblock %}
        

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>


    
</html>
